<a href="https://colab.research.google.com/github/JSJeong-me/Irostyle_consortium/blob/main/%EA%B3%BC%EC%A0%9C(32H)/4-statistics-intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MLB 선수연봉 데이터 불러오기

In [ ]:
!nvcc --version

In [ ]:
#!nvcc --help

In [ ]:
import pandas as pd
df=pd.read_csv('http://wolfpack.hnu.ac.kr/big_data/data/MLB1871_2018/Salaries.csv')

In [ ]:
df.shape

In [ ]:
df.tail()

결측치 제거

In [ ]:
df.dropna(inplace=True)
df.shape

*선수연봉* 2018년 subset

In [ ]:
df16=df[(df['yearID']==2016) & (df['salary']>0)] #연봉 0 초과 선수만 활용
df16.head(3)

In [ ]:
df16.index

In [ ]:
import plotly.express as px
fig = px.scatter(df16, x="salary", y="playerID", color="lgID",title="Player Salary with lgID")
fig.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.kdeplot(df16.salary).set_title('Kernel of 2016 Salary')
plt.show()

In [ ]:
sns.distplot(df16.salary).set_title('Histogram of 2016 Salary')
plt.show()

In [ ]:
sns.boxplot(x="salary",data =df16).set_title('Boxplot of 2016 Salary')
plt.show()

## 실습


*   2018년 선수연봉과 2011년 선수연봉의 상자그림을 그리고 시각적으로 해석하시오.

##중심극한 정리 활용

sample data 만들기 n=50

In [ ]:
df_sample=df16['salary'].sample(n=50, random_state=123) #seed=109

In [ ]:
sns.boxplot(df_sample).set_title('Boxplot of 2016 Salary : train=sample')
plt.show()

크기 50인 확률표본  -> 평균, 100개 만들기

In [ ]:
xbar=[]
for k in range(0,100):
  xbar.append(df16['salary'].sample(n=50).mean())

In [ ]:
sns.boxplot(xbar).set_title('Boxplot of 2016 Salary : sample-mean')
plt.show()

##모집단 추론
2086년 MLB 선수들의 연봉이 40만불 이상인가?

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
print('Population mean %.1f' % df16['salary'].mean()) #모잡단 연봉

추정

In [ ]:
print('Point estimaor %.1f' % df_sample.mean())

In [ ]:
import scipy.stats as st
import numpy as np
LB=df_sample.mean()-st.t.ppf(0.975,df_sample.shape[0]-1)*df_sample.std()/np.sqrt(df_sample.shape[0])
UB=df_sample.mean()+st.t.ppf(0.975,df_sample.shape[0]-1)*df_sample.std()/np.sqrt(df_sample.shape[0])
print('95%'+' confidence interval (%.1f , %.1f)' % (LB, UB))

가설검정


> H0 : mu=40 H1: mu!=40

In [ ]:
from scipy import stats
stats.ttest_1samp(df_sample,40)